<%= form_with(model: science) do |form| %>


  <div class="row justify-content-center">
  <div class="col-10">
    <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :title, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
        </div>
      </div>

      
  <% if science.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(science.errors.count, "error") %> prohibited this science from being saved:</h2>

      <ul>
        <% science.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group row">
  <%= f.label :description, class: "col-2 col-form-label text-light" %>
  <div class="col-10"> 
    <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
  </div>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %>
